@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   super coole straat<br />
    Hoensbroek, 6969 fr<br />
    <abbr title="Phone">P:</abbr>
    06-12345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:2103779wolde@zuyd.nl">2103779wolde@zuyd.nl</a><br />
    <strong>Marketing:</strong> <a href="mailto:2103779wolde@zuyd.nl">2103779wolde@zuyd.nl</a>
</address>