@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> ICT challenge</h1>
    <p class="lead"> ICT challenge is de nieuwe hippe applicatie die je moet hebben!</p>
    <p>@Html.ActionLink("About", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>Hier volgen een paar reviews van mensen die adventure challenge hebben uitgeprobeerd.</p>
        <p>"We need to make america great again by using Adventure challenge"</p>
        <p>- Donald Trump</p>
        <p>"I have a dream that everyone will use adventure challenge"</p>
        <p>- Martin Luther King</p>
        <p>"Ik heb geen actieve herinnering aan het gebruiken van deze app, maar toch vind ik hem geweldig"</p>
        <p>- Mark Rutte</p>
        <p>@Html.ActionLink("About", "About", "Home")</p>
    </div>
</div>