@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> ICT challenge</h1>
    <p class="lead"> ICT challenge is de nieuwe hippe applicatie die je moet hebben!</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>Hier volgen een paar reviews van mensen die adventure challenge hebben uitgeprobeerd.</p>
        <p>"We need to make america great again by using Adventure challenge"</p>
        <p>- Donald Trump</p>
        <p>"I have a dream that everyone will use adventure challenge"</p>
        <p>- Martin Luther King</p>
        <p>"Ik heb geen actieve herinnering aan het gebruiken van deze app, maar toch vind ik hem geweldig"</p>
        <p>- Mark Rutte</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>