
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

<form>
    <label for="fname">gebruikersnaam:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">wachtwoord:</label><br>
    <input type="text" id="lname" name="lname" value="">
    <a href="/Challenges" class="Button">Submit</a>
</form>